/DateTimeNumberPickerForm/DateTimeNumberPickerForms/DateTimeNumberPickerForms/bin
/DateTimeNumberPickerForm/DateTimeNumberPickerForms/DateTimeNumberPickerForms/obj
/DateTimeNumberPickerForm/DateTimeNumberPickerForms/DateTimeNumberPickerForms.Droid/bin
/DateTimeNumberPickerForm/DateTimeNumberPickerForms/DateTimeNumberPickerForms.Droid/obj
/DateTimeNumberPickerForm/DateTimeNumberPickerForms/DateTimeNumberPickerForms.iOS/bin
/DateTimeNumberPickerForm/DateTimeNumberPickerForms/DateTimeNumberPickerForms.iOS/obj
/DateTimeNumberPickerForm/.vs
